:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #06e1e2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}

header {
  margin: 2rem 0;
  align-items: center;
  display: flex;
}

header img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
}

header h1 {
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.6rem;
  margin-left: 1rem;
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}