:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #867bd6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  place-items: center;
}

header {
  margin: 2rem 0;
  align-items: center;
  display: flex;
}

header img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
}

header h1 {
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.6rem;
  margin-left: 1rem;
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

#quiz-select-hd {
  margin: 0;
  font-size: 2rem;
  text-transform: capitalize;
}

#quiz-select {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #3e3e52;
}

#quiz-select li {
  display: flex;
  flex: 0 0 33.3333%;
}

#quiz-select button {
  all: unset;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: 0.1rem solid #3e3e52;
  border-radius: 10px;
  margin: 0.6rem;
  background: #f5f5e6;
  width: 100%;
    
}

#quiz-select button:hover,
#quiz-select button:focus {
  background: #3e3e52;
  color: #f5f5e6;
  border: 0.1rem solid #f5f5e6;
}

#quiz-wrap {
  background-color: #f5f5e6;
  width: 80%;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  color: #000;
}

#question-progress {
  width: 50%;
  height: 0.5rem;
  border-radius: 24px;
  background: #9e5ef8;
  margin: 0;
}

#question-progress::-webkit-progress-bar {
  background: #6a558a;
  border-radius: 24px;
}

#question-progress::-webkit-progress-value {
  background: #9e5ef8;
  border-radius: 24px;
}

#question {
  width: 90%;
  margin: 0 auto;
}

#question h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0 1.5rem 0;
}

#code-block {
  margin-bottom: 1.5rem;
}

#code-block span {
  text-align: left;
}

#options {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}

.option {
  width: 100%;
}

.option button {
  display: inline-block;
  width: 100%;
  font-size: 0.9rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 24px;
  background: #ffe605b8;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  color: #000;
}

.option button:hover,
.option button:focus {
  background: #9d5af5;
  color: white;
}

.option button:disabled {
  cursor: not-allowed;
  background: #ffe605b8;
  color: #000000b3;
  opacity: 0.7;
}

.option button.selected {
  background: #f58835;
}

.option button.correct {
  background: #21b05e;
}

.option button.wrong {
  background: #f93181;
}

#quiz-evaluation h2 {
  font-size: 2.2rem;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  color: #000;
}

#quiz-stats {
  display: flex;
  gap: 3rem;
  width: 70%;
  margin: 2rem auto;
  padding-bottom: 2rem;
  border-bottom: 2px solid #000;
}

#quiz-stats p {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#quiz-stats .percent {
  font-size: 2.5rem;
  font-weight: bold;;
}

#quiz-stats .bracket {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #000;
  letter-spacing: 0.1rem;
}

#quiz-evaluation ol {
  list-style: none;
  margin: 2rem auto;
  width: 70%;
  padding: 0;
  text-align: center;
}

#quiz-evaluation li {
  margin: 2rem 0;
}

#quiz-evaluation h3 {
  font-size: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

#quiz-evaluation .question-text {
  margin: 0.25rem 0;
  font-size: 1rem;
  color: #30273a;
}

#quiz-evaluation .code-block {
  margin-bottom: 0.5rem;
}

#quiz-evaluation .code-block span {
  text-align: left;
}

#quiz-evaluation .user-answer {
  margin: 0.25rem 0;
  font-weight: bold;
  color: #251e2f;
}

#quiz-evaluation .correct {
  color: #21b05e;
}

#quiz-evaluation .wrong {
  color: #f93181;
}

#quiz-evaluation .skipped {
  color: #f58835;
}

#quiz-evaluation .user-answer.skipped {
  font-style: italic;
}